---
import MainLayout from "@layouts/MainLayout.astro";
import { formatDate } from "@utils/formatDate";
import { allPosts } from "@utils/allPosts";
import Icon from "astro-icon";
---

<MainLayout>
  <section>
    <h2 class="mb-4 flex flex-row justify-between">
      <div>List of blog posts</div>
      <a
        href="/rss.xml"
        target="_blank"
        class="flex flex-row items-center gap-1 text-orange-600 hover:text-orange-800"
      >
        <Icon name="mdi:rss-box" class="h-6" /> RSS
      </a>
    </h2>
    <ul class="flex flex-col ml-8 gap-1 list-['→_']">
      {
        allPosts.map((post) => (
          <li>
            <a href={post.canonicalUrl} class="font-bold hover:text-slate-500">
              {post.title}
            </a>
            <time
              datetime={formatDate(post.date, "yyyy-mm-dd")}
              class="italic text-gray-500 text-sm"
            >
              {`(${formatDate(post.date, "long")})`}
            </time>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
