---
export interface Props {
  href: string;
}

function stripLastSlash(path: string) {
  return path.replace(/\/+$/, "");
}

const { href } = Astro.props;
const isActive = stripLastSlash(href) === stripLastSlash(Astro.url.pathname);
---

<a
  href={href}
  class:list={[
    "p-2",
    "hover:bg-slate-100 transition",
    "dark:hover:bg-slate-700",
    isActive && "font-bold",
  ]}
>
  <slot />
</a>
